.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    min-height: 50vh;
    /* or space-between, you try out */
    /* This comment should not break the rule above it */
}

.nav-list li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
}

header {
    background-color: bisque;
    padding: 10px;
    color: #fff;
    display: flex;
    border-width: 10px;
}

/* when you want to change a specific child under a certain class */
.card:nth-child(2) {
    background: pink;
    align-self: flex-start;
    /* strech or end , it moves its self the child */
}